.login-wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 170px;
}

.section-code{
    margin-top: 29px;
    width: 396px;
}

.section-code .title {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    color: #333;
}

.section-code .inputed-number {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
    margin-top: -16px;
    color: #767676;
}

.section-code .send-code-group{
    margin-bottom: 24px;
}

.more-row {
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: relative;
}

.more-input-group-items {
    display: -webkit-box;
    display: flex;
}

.section-code .more-input-box {
    font-size: 18px;
    margin-right: 13px;
    width: 228px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 400;
}

.more-input-box .more-input {
    width: 100%;
}

.more-input-box .more-input {
    font-size: 18px;
    height: 59px;
    padding-left: 15px;
    padding-right: 43px;
}

.section-code .more-input-box .more-input {
     background: white;
     border: 1px solid rgb(230, 230, 230);
     border-radius: 0;
}

.section-code .send-code-btn{
    border-radius: 4px;
    color: #333;
    border: 1px solid #e6e6e6;
    background-color: #f4f4f4;
    width: 157px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}

.more-form-group {
    margin-bottom: 8px;
}
.section-code .validate-btn {
    border-color: #5072FF;
    background-color: #5072FF;
    height: 59px;
    padding: 0 55px 0 56px;
    font-size: 20px;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    border: 0;
}


#span-password {
    margin-right: 0;
    width: 100%;

}