<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--圈子设置界面-->
<div th:fragment="setting" class="theme-color-container more-modal-box" style="z-index: 2007; display: none"
     id="circle-setting-model">
    <div class="more-modal">
        <div class="more-dialog ">
            <div class="more-dialog-head">
                <h5 class="more-dialog-head-title">设置</h5>
                <span class="more-icon-close more-dialog-icon-close glyphicon glyphicon-remove"
                      id="btn-setting-close"></span>
            </div>
            <div class="circle-settings">
                <div class="content">
                    <div class="section-block">
                        <div class="setting-item">
                            <div class="setting-item-name">举报 学霸成长实验室</div>
                            <div class="current-state"></div>
                            <button data-type="default" data-size="default" data-theme="text"
                                    class="more-btn setting-text-btn" id="btn-report"><!----><span>举报</span></button>
                        </div>
                        <div class="setting-item">
                            <div class="setting-item-name">退出 学霸成长实验室</div>
                            <div class="current-state"></div>
                            <button data-type="default" data-size="default" data-theme="text"
                                    class="more-btn setting-text-btn" id="btn-circle-quit"><!---->
                                <span>退出</span></button>
                        </div>
                    </div>
                </div> <!----></div>
        </div>
    </div>
</div>

<!--举报界面-->
<div th:fragment="report"  class="report-circle more-modal-box" style="z-index: 2015; display: none"
     id="circle-report-model">
    <div class="more-modal-backdrop"></div>
    <div class="more-modal">
        <div data-size="sm" class="more-dialog theme-color-container">
            <div class="more-dialog-head"><h5 class="more-dialog-head-title">举报</h5><span
                    class="more-icon-close more-dialog-icon-close glyphicon glyphicon-remove"
                    id="btn-report-close"></span></div>
            <div  class="section-body">
                <div  class="report-reason-box"><p  class="report-reason-title">
                    请选择举报理由</p>
                    <label  class="report-reason-item"><span
                    >暴恐涉政</span> <label  data-theme="default" class="more-radio-container"><span
                            class="more-radio-fake"><span class="more-radio-fake-inner"></span>
                    </span> <input type="radio" name="flag" class="more-radio" value="10">
                        <span class="more-radio-label"> </span></label></label><label
                            class="report-reason-item"><span
                    >色情内容</span> <label  data-theme="default"
                                         class="more-radio-container"><span
                            class="more-radio-fake"><span class="more-radio-fake-inner"></span></span> <input type="radio"
                                                                                                              name="flag"
                                                                                                              class="more-radio"
                                                                                                              value="20">
                        <span class="more-radio-label"> </span></label></label><label
                            class="report-reason-item"><span
                    >违法犯罪</span> <label  data-theme="default"
                                         class="more-radio-container"><span
                            class="more-radio-fake"><span class="more-radio-fake-inner"></span></span> <input type="radio"
                                                                                                              name="flag"
                                                                                                              class="more-radio"
                                                                                                              value="30">
                        <span class="more-radio-label"> </span></label></label><label
                            class="report-reason-item"><span
                    >谣言垃圾</span> <label  data-theme="default"
                                         class="more-radio-container"><span
                            class="more-radio-fake"><span class="more-radio-fake-inner"></span></span> <input type="radio"
                                                                                                              name="flag"
                                                                                                              class="more-radio"
                                                                                                              value="40">
                        <span class="more-radio-label"> </span></label></label><label
                            class="report-reason-item"><span
                    >抄袭侵权</span> <label  data-theme="default"
                                         class="more-radio-container"><span
                            class="more-radio-fake"><span class="more-radio-fake-inner"></span></span> <input type="radio"
                                                                                                              name="flag"
                                                                                                              class="more-radio"
                                                                                                              value="50">
                        <span class="more-radio-label"> </span></label></label><label
                            class="report-reason-item"><span
                    >其他</span> <label  data-theme="default"
                                       class="more-radio-container"><span
                            class="more-radio-fake"><span class="more-radio-fake-inner"></span></span> <input type="radio"
                                                                                                              name="flag"
                                                                                                              class="more-radio"
                                                                                                              value="60">
                        <span class="more-radio-label"> </span></label></label></div>
            </div>
            <div data-flex="true" data-align="center" data-justify="end" data-flow="row"
                 class="more-row more-dialog-footer">
                <button data-type="default" data-size="default" data-theme="text"
                        class="more-btn no-theme-color more-dialog-cancel-btn" id="btn-report-cancel"><!---->
                    <span>取消</span></button>
                <button data-type="danger" data-size="default" data-theme="text" disabled="disabled"
                        class="more-btn more-dialog-confirm-btn"><!----><span><span class="">提交</span></span></button>
            </div>
        </div>
    </div>
</div>

<!--圈子选择列表-->
<div th:fragment="select" class="sidebar" id="circle-select-list">
    <img src="/static/image/btn_menu.svg"
         class="sidebar-img" style="" id="btn-circle-menu">
    <div class="sidebar-wrap" id="circle-list" style="display: none;">
        <div class="sidebar-hide" id="btn-circle-return">
            <img src="/static/image/btn_return.svg"
                class="sidebar-arr">
        </div>
        <div class="sidebar-content">
            <scroll-view status="normal" class="more-scroll-view">
                <div th:if="${userOwnCircles}" class="mycircle-wrap circle-item"
                     th:each="userOwnCircle,stat:${userOwnCircles}"
                     th:attr="data-order=${stat.count}">
                    <img th:src="@{${userOwnCircle.circle.avatarPath}}" th:attr="title=${userOwnCircle.circle.name}" class="mycircle">
                    <p th:if="${stat.count}==${pageNum}" class="isCheck"></p> <!----> <!----> <!---->
                </div>
                <div></div>
            </scroll-view>
        </div>
    </div>
</div>


<!--退出-->
<div th:fragment="quit" id="circle-quit-model" data-size="sm" class="more-dialog" style="z-index: 2015;display: none">
    <div class="more-dialog-head"><h5 class="more-dialog-head-title">退出乌托邦</h5><span
            class="more-icon-close more-dialog-icon-close"></span></div>
    <div  class="section-body">
        <div  class="alert-message"><i  class="more-icon-alert"></i>确定退出 学霸成长实验室 吗？
        </div>
    </div>
    <div data-flex="true" data-align="center" data-justify="end" data-flow="row" class="more-row more-dialog-footer">
        <button data-type="default" data-size="default" data-theme="text"
                class="more-btn no-theme-color more-dialog-cancel-btn" id="btn-quit-cancel"><!---->
            <span>取消</span></button>
        <button data-type="danger" data-size="default" data-theme="text" class="more-btn more-dialog-confirm-btn"
                id="btn-quit-confirm">
            <!----><span><span class="">确认退出</span></span></button>
    </div>
</div>
</html>