<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="circle_header::head('发布帖子','/css/article/editor.css')">

</head>

<body>
<section>
    <div th:replace="circle_header::header"></div>
    <div class="circle-content">
        <div class="editor-box" style="max-width: 700px;position: fixed">
            <div class="editor">
                <div class="editor-title">
                    <input id="input-editor-title"class="editor-title-input" type="text" placeholder="输入帖子标题">
                </div>
                <div class="toolbar" id="toolbar"></div>
                <div style="margin-top:20px"></div>
                <div class="text" id="text"></div>
            </div>
            <button class="btn btn-default" type="submit" id="btn-publish" th:attr="data-cid=${cid}">发布</button>

        </div>
        <div th:replace="include/footer::footer" style="margin-top:556px"></div>
    </div>

</section>

<!--wangEditor富文本-->
<script type="application/javascript" src="/static/wangEditor/js/wangEditor.min.js"></script>
<script type="application/javascript" src="/static/js/article/editor.js"></script>

</body>
</html>