<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="circle_header::head('首页','/css/article/editor.css')">

</head>

<body>
<section>
    <div th:replace="circle_header::header"></div>
    <div class="circle-content">
        <div class="editor-box">
            <div class="editor">
                <div class="toolbar" id="toolbar"></div>
                <div style="margin-top:20px"></div>
                <div class="text" id="text"></div>
            </div>
            <button class="btn btn-default" type="submit" id="btn-publish">发布</button>
        </div>

    </div>
</section>

<!--wangEditor富文本-->
<script type="application/javascript" src="/static/wangEditor/js/wangEditor.min.js"></script>
<script type="application/javascript" src="/static/js/article/editor.js"></script>
</body>
</html>