<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="circle_header::head('首页','')">

</head>

<body>
<section>

    <div th:fragment="main-content" class="main-content">
        <div class="content-block">
            <!--                    圈子搜索-->
            <div class="content-block search-block">
                <div class="search-container">
                            <span class="more-input-box"><!----> <!---->
                                <input type="text" placeholder="搜索圈子内话题或标签" maxlength="2147480" class="more-input"
                                       style="border:none;padding-right:100px;">
                                <div>
                                    <span class="more-input-suffix-icon more-icon-search glyphicon glyphicon-search"></span>
                                </div>
                            </span>
                </div>
            </div>

            <!--发帖栏-->
            <div class="content-block edit-entry" id="edit-entry">
                <div class="edit-entry-box"><p class="placeholder">
                    有什么新消息分享给大家吧！</p>
                    <div>
                        <span class="more-icon-photo glyphicon glyphicon-picture"></span>
                    </div> <!----></div>
                <!--                    动态、精华选择 -->
                <div class="content-block"></div>
                <!--                    帖子内容    -->

                <div class="content-block"></div>
            </div>

            <!--置顶栏-->
            <div class="topic-top">
                <div class="header">
                            <span class="left">
                                <img src="/static/image/topic-top.svg" alt="">
                                <span class="text">置顶</span>
                            </span>
                    <span class="right">
                                <span id="sticky-num"class="text">查看全部 1</span>
                                <img src="/static/image/dayu.svg" alt="">
                            </span>
                </div>
                <!--<div class="topic-top-each unread">-->
                    <!--<div class="topic-read"></div>-->
                    <!--<div class="notice-content">asfasfaf</div> &lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt;-->
                <!--</div>-->
            </div>

            <!--全部-->
            <div class="content-block">
                <div>
                    <div class="labelTopUtil">
                        <div>
                            <span class="dynamic active normal">动态</span>
                            <span class="essence">精华</span>
                        </div>
                        <div class="right-side"><!---->
                            <span class="more-dropdown-box more-dropdown">
                                        <div class="user-img">
                                            <img src="/static/image/sort.svg" alt="" class="orderImg">
                                            <span id="sort" class="order">最新发布</span>
                                        </div>
                                        <div id="sort-menu" class="more-dropdown-menu label-util-dropdown-menu" style="display: none; z-index: 100">
                                            <div class="more-dropdown-item-list">
                                                <div data-sort="create_time"
                                                     class="more-dropdown-item sort-menu-item" id="sort-publish">
                                                    <span>最新发布</span><img src="/static/image/checked.svg"
                                                                          class="check-icon">
                                                </div>
                                                <div  data-sort="update_time"
                                                      class="more-dropdown-item sort-menu-item"
                                                      id="sort-reply"><span>最新回复</span></div>
                                            </div>
                                        </div>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--帖子信息-->
            <div class="content-block">
                <div class="post-flow-container more-scroll-view">
                    <div class="post-lists">
                    </div>
                    <div id="end"class="more-scroll-view-status" style="display: none;"><span> · 已加载结束 · </span></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>