<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="circle_header::head('首页','css/user/changepassword.css')">

    <script src="../../static/js/user/changePassword.js"></script>
</head>

<body>
<section>
    <div th:replace="circle_header::header"></div>
    <div class="login-wrap">
        <div class="section-code">
            <h2 class="title">修改密码</h2>
            <div class="inputed-number">
                <span th:text="'发送至 +86 '+${session.user.phone}">发送至 +86
                    111 1111
                    1111</span>
            </div>
            <div class="more-form-group more-row send-code-group clearfix">
                <div class="more-form-group-value">
                    <div class="more-input-group">
                        <div class="more-input-group-items">
                           <span class="more-input-box">
                               <input id="input-authCode" type="text" placeholder="输入验证码" autocomplete="off"
                                      class="more-input">
                           </span>
                            <button class="more-btn timer-button send-code-btn" id="btn_authCode">
                                <span>发送验证码</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-form-group more-row send-code-group clearfix">
                <div class="more-form-group-value">
                    <div class="more-input-group">
                        <div class="more-input-group-items">
                           <span class="more-input-box " id="span-password">
                               <input id="input-password"type="password" placeholder="输入密码" autocomplete="off"
                                      class="more-input">
                           </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-form-group more-row clearfix"><!---->
                <div class="more-form-group-value">
                    <button class="more-btn validate-btn" id="btn-validate"><!----><span>确定</span></button>
                </div>
            </div>

        </div>
    </div>
</section>
<!--jquery.cookie.js-->
<script src="/static/js/jquery/jquery.cookie.js"></script>
<script type="application/javascript" src="/static/js/user/changePassword.js"></script>
</body>
</html>