<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,cssPaths)">

    <title th:text="${title}"></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="shortcut icon" href="/static/image/google.png" type="image/x-icon" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">


    <!--引入自己的css-->
    <link rel="stylesheet" href="/static/css/header.css">

    <link rel="stylesheet" href="/static/css/cssinit.css">
    <!--引入的样式-->
    <link rel="stylesheet" type="text/css" th:each="cssPath,status:${#strings.setSplit(cssPaths,',')}"
          th:href="@{'/static/'+${cssPath}}"/>

    <script type="application/javascript" src="/static/js/jquery/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!--引入jquery表单插件-->
    <script type="application/javascript" src="/static/js/jquery/jquery.form.js"></script>

    <script type="application/javascript" src="/static/js/headerNav.js"></script>
</head>


<body>
<div class="circle-header" th:fragment="header">
    <div class="more-container">
        <div class="left">
            <div class="header-nav-item nav-title">
                <i class="more-icon-home glyphicon glyphicon-home">
                </i>
                <span><a href="/" class="a_white">主页</a></span>
            </div>
            <div class="header-nav-item nav-title">
                <i class="more-icon-home glyphicon glyphicon-th-list">
                </i>
                <span><a href="/circle/querySearch" class="a_white">查看圈子</a></span>
            </div>
        </div>
        <div class="right">
           <span class="more-input-box header-nav-search">
              <span id="btn-circle-search" class="more-input-prefix-icon more-icon-search
glyphicon glyphicon-search">
              </span>
               <input type="text" placeholder="搜索圈子"
                      maxlength="2147480" class="more-input " id="input-search">
               <div></div>
           </span>
            <div class="header-nav-user">
                <span class="more-dropdown-box user-dropdown" id="user-img">
                    <img
                            th:if="${session.user.avatarPath}"
                            th:src="@{${session.user.avatarPath}}"
                         class="user-img">
                    <img th:unless="${session.user.avatarPath}" src="/static/image/avatar.png" class="user-img">
                    <div></div>
                </span>
                <div id="header-user-menu" class="more-dropdown-menu header-user-menu"
                     style="transform-origin: center top; z-index: 9; position: absolute;
    margin-left: -25px;display: none;">
                    <div class="more-dropdown-item-list">
                        <div  class="more-dropdown-item"><a  href="/user/info" class="">个人资料</a>
                        </div>
                        <div  class="more-dropdown-item"><a  href="/user/myArticle" class="">我的帖子</a>
                        </div>
                        <div  class="more-dropdown-item"><a  href="/user/myStar" class="">我的收藏</a></div>
                        <div  class="more-dropdown-item"><a  href="/user/myLike" class="">我的点赞</a></div>
                        <div class="more-dropdown-item user-menu-item-setting"><a href="/circle/create" class="">创建圈子
                        </a></div>
                        <div  class="more-dropdown-item user-menu-item-setting"><a href="/logOut">退出登录</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>