<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="circle_header::head('首页','css/index.css ,css/circle/circle_setting.css')">

</head>

<body>
<section>
    <div th:replace="circle_header::header"></div>
    <div class="circle-content">
        <div class="circle-home w-e-clear-fix">
            <div class="left-content">
                <div>
                    <div>
                        <div class="theme-color-container circle-info-card"
                             th:with="circle=${userOwnCircles[pageNum-1].circle}">
                            <header class="card-header">
                                <div class="circle-bg"
                                     style="background-image:url(https://data.quanziapp.com/space/bg_image/92E6B60A-151B-4B9E-A48F-9AB49F652E8F?x-oss-process=image/resize,limit_0,m_fill,h_131,w_288);"></div>
                                <div class="circle-info">
                                    <div class="circle-avatar">
                                        <!--圈子头像图片-->
                                        <img th:src="@{${circle.avatarPath}}" alt="">
                                    </div>
                                    <!--圈子标题-->
                                    <span class="circle-name"><h1 th:text="${circle.name}">圈子名字</h1><!----></span></div>
                            </header>
                            <div class="card-content">
                                <div class="circle-users">
                                    <!--                                圈子成员头像-->
                                    <div class="user-list clear-fix">
                                        <div class="user-avatar" th:each="user,stat:${circleMember}">
                                            <img th:src="@{${user.avatarPath}}"
                                                alt="">
                                        </div>

                                        <p class="users-count">
                                            <span th:text="${circle.userNum}">
                                                <span class="dot"></span>327</span> 个成员
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <!--                                圈子简介-->
                                    <div class="circle-description">
                                        <h1 class="center-text">学霸成长实验室</h1>
                                        <h2 class="center-text">助力成长学霸</h2>
                                        <p class="left-text">我们将在这里将围绕学习和成长分享学霸们的经验方法通过备考心理学、学习方法、思考思维、知识点梳理、解题套路等维度，让你和学霸一样思考，培养和学霸一样的学习习惯，以及掌握学霸们拥有的知识体系框架</p></div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="joined-footer">
                                    <div>
                                        <span id="btn-circle-setting"class="text-btn" href="#"><span
                                                class="more-icon-setting text-btn-icon glyphicon glyphicon-cog"
                                        ></span>
                                            圈子设置</span>
                                    </div>

                                </div>
                            </div>
                        </div> <!----> <!----></div>
                    <div data-v-b270548c=""></div> <!----></div>
            </div>

        </div>
    </div>
</section>

<!--圈子设置弹窗-->
<div th:replace="include/circle_model::setting"></div>
<!--圈子举报弹窗-->
<div th:replace="include/circle_model::report"></div>

<!--圈子选择列表-->
<div th:replace="include/circle_model::select"></div>

<!--退出圈子弹窗-->
<div th:replace="include/circle_model::quit"></div>
<!--引入js-->
<script type="application/javascript" src="/static/js/index.js"></script>
<script type="application/javascript" src="/static/js/circle/circle_model.js"></script>
</body>

</html>