<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="circle_header::head('首页','css/index.css ,css/circle/circle_setting.css')">
</head>

<body>
<section>
    <div th:replace="circle_header::header"></div>
    <div id="uid"
         th:attr="data-uid=${session.user.id},data-identity=${userOwnCircles[pageNum-1].type},data-pageNum=${pageNum}"></div>
    <div class="circle-content">
        <div class="circle-home w-e-clear-fix">
            <div th:replace="include/circle_model::left-content"></div>
            <div th:replace="article/index-stick::stick-content"></div>
        </div>
    </div>
    <div th:replace="include/footer::footer"></div>
</section>

<!--圈子设置弹窗-->
<div th:replace="include/circle_model::setting"></div>
<!--圈子举报弹窗-->
<div th:replace="include/circle_model::report"></div>

<!--圈子选择列表-->
<div th:replace="include/circle_model::select"></div>

<!--退出圈子弹窗-->
<div th:replace="include/circle_model::quit"></div>

<!--帖子举报弹窗-->
<div th:replace="article/index-article::report"></div>

<!--引入js-->
<script type="application/javascript" src="/static/js/index.js"></script>
<script type="application/javascript" src="/static/js/circle/circle_model_show.js"></script>
<script type="application/javascript" src="/static/js/circle/circle_model.js"></script>
<script type="application/javascript" src="/static/js/article/stick.js"></script>

</body>

</html>