<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class='post-list-item' data-aid='13'>
    <div class='wrap'>
        <div class='user-info'>
            <div class='left-side'>
                <div class='user-avatar'>
                    <img src='/static/image/avatar.png' alt='' class='avatar-head'>
                </div>
                <div>
                    <p class='user-name'><span>chenfuyuan</span></p>
                    <p class='post-time'>2020-02-17 04:41:48</p>
                </div>
            </div>
            <div>
                <div class='right-side'>
                    <div class='more-dropdown-box more-dropdown'>
                        <div class='user-img'>
                            <div class='article-operation-menu-btn'>
                                <span class='more-icon-option option-icon icon-btn glyphicon glyphicon-list'></span>
                            </div>
                            <div class='more-dropdown-menu topic-cell-dropdown-menu' style='display: none'>
                                <div class='more-dropdown-item-list' data-aid='13'>
                                    <div class='more-dropdown-item item-star'>
                                        <div class='handle-icon-wrapper'>
                                            <img src='/static/image/articleNoStar.svg' class='handle-icon'>
                                        </div>
                                        <span>收藏</span>
                                    </div>
                                    <div class='more-dropdown-item item-delete'>
                                        <div class='handle-icon-wrapper'>
                                            <img src='/static/image/articleDelete.svg' class='handle-icon'>
                                        </div>
                                        <span>删除帖子</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='topic-text'>
            <div style='left: 0px; position: static; width: 480px;'>
                <h3>jquery教程</h3>
                <p>
                    <a href="http://www.baidu.com" target="_blank">adsda</a>
                    <br>
                </p>
            </div>
        </div>
        <div isopenwindow='true'>
            <div class='reactions'>
                <span class='likes' data-aid='13'>
                    <img src='/static/image/noLike.png' class='more-icon-appreciation icon-btn'/>
                    <span class=''>赞
                        <span class='likes-num'>0</span>
                    </span>
                </span>
                <span class='comments'>
                    <i class='more-icon-comment icon-btn glyphicon glyphicon-comment'></i>                                     <span
                        class='comments-count'>评论
                        <span class='comments-num'>0</span>
                    </span>
                </span>
                <span class='views-count'></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>